#root {
  max-width: 100vw;
  margin: 0;
  padding: 0rem;
  text-align: center;
  --color-1: rgb(6, 5, 50);
  --color-2: rgb(196, 232, 203);
  --color-3: rgb(181, 168, 68);
  --color-4: rgb(46, 44, 159);
  --color-5: rgb(73, 45, 2);
  --color-6: rgb(90, 160, 218);
  --zoom-animation-duration: 0.5s;
  background-color: var(--color-1);
  color: var(--color-2);
  display: grid;
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 330deg;
  }
  25% {
    --gradient-angle: 15deg;
  }
  50% {
    --gradient-angle: 60deg;
  }
  75% {
    --gradient-angle: 104deg;
  }
  100% {
    --gradient-angle: 329deg;
  }
}

body,
html{
  margin: 0;
  padding: 0;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--color-1);
  overscroll-behavior: none;
}

.homepage::before,
.homepage::after,
.earn-page::before,
.earn-page::after,
.trade-page::before,
.trade-page::after,
.repo-lend-body::before,
.repo-lend-body::after{
  display: grid;
  width: 100vw;
  position: absolute;
  background: linear-gradient(
    var(--gradient-angle),
    var(--color-1),
    var(--color-4),
    var(--color-5),
    var(--color-6)
  );
  animation: rotation 60s linear infinite;
  content: "";
  inset: 0;
  opacity: 50%;
}
.homepage::after,
.earn-page::after{
  filter: blur(10rem);
}

ul{
  list-style: none;
  list-style-type: none;
  padding: 0;
  text-decoration: none;
  animation: zoom var(--zoom-animation-duration) ease-in-out;
}

a{
  text-decoration: none;
  color: var(--color-2);
}

a:active{
  text-decoration: none;
  color: var(--color-2);
}

button,
select,
.wallet-connect-button,
input{
  background-color: var(--color-1);
  color: var(--color-2);
  padding: min(0.5em);
  border-radius: min(1em);
  border-color: var(--color-2);
  border-width: 2px;
  border-style: solid;
  transition: color 0.6s, border-color 0.6s, text-shadow 0.6s, box-shadow 0.6s; 
  font-size: x-large;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / .3),
    0 0 0.25em var(--color-2);
  box-shadow: inset 0 0 0.5em 0 var(--color-2),
    0 0 0.5em 0 var(--color-2);
  z-index: 2;
}

button:hover,
select:hover,
input:hover,
.wallet-connect-button:hover,
input:hover{
  color: var(--color-3);
  border-color: var(--color-3);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / .3),
        0 0 0.25em var(--color-3);

    box-shadow: inset 0 0 0.5em 0 var(--color-2),
        0 0 0.5em 0 var(--color-3);
}

.trade-title,
.trade-description{
  font-size: xx-large;
  font-weight: 900;
  animation: zoom var(--zoom-animation-duration) ease-in-out;
}


.card {
  padding: 2em;
  animation: zoom var(--zoom-animation-duration) ease-in-out;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 5svh;
  margin: auto;
}
.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: var(--color-3);
  border: 5px solid var(--color-2);
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 var(--color-2);
  
}
.example-thumb.active {
  background-color: var(--color-3);
}
.example-track {
  position: relative;
  background: var(--color-2);
}
.example-track.example-track-0 {
  background: var(--color-3)
}
.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}

.homepage,
.earn-page{
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: auto;
  gap: min(2em);
  justify-content: center;
  align-items: center;
  width: 100vw;
  animation: zoom var(--zoom-animation-duration) ease-in-out;
  position: relative;
  background-color: var(--color-1);
  z-index: 2;
}

.protocol-name-and-logo{
  font-size: xx-large;
  display: grid;
  grid-template-rows: auto auto;
  background-color: var(--color-1);
  z-index: 2;
}

.nav-bar-link-list-center{
  align-items: center;
  width: 50vw;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.nav-bar-link-list-right{
  align-items: center;
  width: 50vw;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: min(0.3em);
}

.nav-bar{
  display: grid;
  gap: min(0.2em);
  justify-content: center;
  align-items: center;
  grid-template-rows: auto auto;
  width: 100vw;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / .3),
        0 0 0.25em var(--color-2);
  animation: zoom var(--zoom-animation-duration) ease-in-out;
  background-color: var(--color-1);
  z-index: 5;
  position: relative;
}

.nav-bar-bottom-row{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  width: 100vw;
}

.stats-title{
  font-size: xx-large;
  z-index: 2;
}


.earn-lp-token-modal{
  margin-bottom: min(5svh);
}

.overview-modal,
.total-stats-modal,
.earn-gov-token-modal,
.earn-lp-token-modal,
.total-rewards-modal{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: max-content;
  border-radius: 2em;
  border-width: 2px;
  border-style: solid;
  width: 90vw;
  gap: min(0.5em);
  margin-left: 5vw;
  animation: zoom var(--zoom-animation-duration) ease-in-out;
  background-color: var(--color-1);
  z-index: 2;
}

.overview-modal-title{
  font-size: x-large;
}

.total-stats-modal{
  margin-bottom: 5svh;
}

.earn-gov-token-modal-subsection-list{
  display: grid;
  gap: min(2em);
  width: 90vw;
  align-items: center;
  justify-content: center;
}

.earn-gov-token-modal-subsection-list>li{
  display: grid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-2);
  padding-bottom: min(0.5em);
}

.price-wallet-staked-list-item,
.apr-rewards-list-item,
.total-staked-supply-list-item{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: min(0.3em);
}

.price-wallet-staked-list-item-stat{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: min(0.3em);
}

.apr-rewards-list,
.total-staked-supply-list{
  display: grid;
  grid-template-rows: repeat(2,auto);
  gap: min(0.3em);
}

.apr-rewards-list-item-amount,
.total-staked-amount,
.total-supply-amount{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: min(0.3em);
}

.earn-gov-modal-bottom{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: min(1em);
}

.total-rewards-modal-list{
  display: grid;
  gap: min(0.5em);
  max-width: 100%;

}

.total-rewards-modal-list>li,
.earn-lp-token-modal-list>li{
  display: grid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-2);
  padding-bottom: min(0.5em);=

}

.total-rewards-modal-stats{
  display: grid;
  gap: min(0.5em);
  grid-template-columns: repeat(2, auto);
}

.total-rewards-modal-buttons{
  display: grid;
  gap: min(0.5em);
  grid-template-columns: repeat(2, auto);
}

.earn-lp-token-modal-list{
  display: grid;
  gap: min(0.5em);
}

.earn-lp-price-wallet-staked{
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: min(0.5em);
}

.earn-lp-price,
.earn-lp-wallet,
.earn-lp-staked,
.earn-lp-apr,
.earn-lp-rewards,
.earn-lp-total-staked,
.earn-lp-total-supply,
.overview-stats-item,
.overview-stats-item-stat,
.total-stats-modal-stats-item,
.total-stats-modal-item-stat{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: min(0.5em);
}

.earn-lp-modal-buttons{
  display: grid;
  grid-template-rows: repeat(2,auto);
  gap: min(0.5em);
}

.selected-market-modal{
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: min(0.5em);
  padding: 5em;
  animation: zoom var(--zoom-animation-duration) ease-in-out;
}

.selected-market-modal>div{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-2);
  padding-bottom: min(0.5em);
}

.positions-menu{
  display: grid;
  grid-template-rows: repeat(2, auto);
  animation: zoom var(--zoom-animation-duration) ease-in-out;
  margin-bottom: min(5svh);
}

.positions-menu-selectors{
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.positions-menu-selectors>li,
.position-directionality-selector-long,
.position-directionality-selector-short{
  transition: color 0.6s, border-color 0.6s, box-shadow 0.6s;
  border-radius: 2em;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
}

.positions-menu-selectors>li:hover,
.position-directionality-selector-long:hover,
.position-directionality-selector-short:hover{
  color: var(--color-3);
  border-color: var(--color-3);
  box-shadow: inset 0 0 0.5em 0 var(--color-3),
     0 0 0.5em 0 var(--color-3);
}

.position-directionality-selector{
  display: grid;
  gap: min(0.5em);
  grid-template-columns: repeat(2, auto);
  font-size: xx-large;
}

.positions-table-headers,
.single-position-list{
  display: grid;
  grid-template-columns: repeat(3, auto);
  max-width: 100vw;
}

.orders-table-headers{
  display: grid;
  grid-template-columns: repeat(4, auto);
  max-width: 100vw;
}

.past-trades-list{
  display: grid;
  grid-template-columns: auto;
}

.trade-entry-payment-entry-bottom-row{
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: min(0.3em);
  gap: min(2em);
}

.trade-entry-payment-max-button{
  display: grid;
  padding-left: min(0.3em);
  padding-right: min(0.3em);
}

.trade-entry-payment-entry-bottom-row{
  display: grid;
  grid-template-columns: repeat(2, 40%);
}

.trade-entry-payment-entry-top-row{
  display: grid;
  grid-template-columns: auto;
}

.trade-entry-payment-entry{
  display: grid;
  grid-template-rows: repeat(2, auto);
  width: 40vw;
}

.trade-entry-payment-entry,
.trade-entry-stats{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: min(0.1em);
  width: 40vw;
  padding: min(0.5em);
}

.set-position-term-container,
.trade-entry-size-container,
.trade-entry-payment-size,
.trade-entry-payment-size-top-row,
.trade-entry-payment-size-leverage{
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.trade-entry-stats-leverage,
.trade-entry-stats-leverage-amount,
.trade-entry-stats-execution-price{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: min(0.3em);
}

.trade-entry-modal{
  display: grid;
  gap: min(0.3em);
  justify-content: center;
  align-items: center;
  width: auto;
  animation: zoom var(--zoom-animation-duration) ease-in-out;  
  padding: min(0.3em);
}

.wallet-connect-modals{
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: min(0.2em);
  animation: zoom var(--zoom-animation-duration) ease-in-out;
}

@keyframes zoom {
  from {
    transform: scale(0.4) translateX(-40%);
    opacity: 0;
  }
  to {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}

.transaction-hash{
  font-size: large;
}

.execute-trade-button{
  margin-bottom: 5svh;
}

.repo-lend-body{
  background-color: var(--color-1);
  width: 100vw;
  height: 100svh;
}

.repo-lend-title{
  font-size: xx-large;
  z-index: 2;
}

.markets-list{
  display: grid;
  grid-template-columns: auto;
  gap: min(0.2em);
}

.market-list-item{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
  display: grid;
  border-radius: 2em;
  border-color: var(--color-2);
  border-width: 1px;
  border-style: solid;
  padding: 0.2em;
  box-shadow: inset 0 0 0.5em 0 var(--color-2),
    0 0 0.5em 0 var(--color-2);
  background-color: var(--color-1);
}

.market-title{
  font-size: x-large;
  font-weight: 900;
}

.market-stat-title,
.user-repo-lend-dashboard-item-title{
  font-weight: 700;
}

.market-stat-amount,
.user-repo-lend-dashboard-item-amount{
  font-weight: 200;
}

.user-repo-lend-dashboard{
  display: grid;
  gap: min(0.2em);
}

.market-stats{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.user-market-wallet-balance,
.market-borrow,
.market-supply{
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.set-position-term-title{
  font-size: x-large;
  font-weight: 700;
  display: grid;
  justify-content: center;
  align-items: center;
}

.set-position-term-disclaimer{
  font-size: small;
}

.trade-entry-modal-container{
  box-shadow: inset 0 0 0.5em 0 var(--color-3),
    0 0 0.5em 0 var(--color-3);
  border-radius: 2em;
  border-color: var(--color-3);
  border-width: 1px;
  border-style: solid;
  padding: min(0.2em);
  display: grid;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.transaction-details{
  display: grid;
  font-size: xx-small;
}

.docs-container{
  display: grid;
  width: 100vw;
}

.navbar-bottom-row{
  display: grid;
  justify-content: center;
  align-items: center;
}

.repo-lend-asset-deposit{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: min(0.3em);
  border-radius: min(1em);
  border-color: var(--color-2);
  border-width: 2px;
  border-style: solid;
  font-size: x-large;
  box-shadow: inset 0 0 0.5em 0 var(--color-2),
    0 0 0.5em 0 var(--color-2);
  padding: min(0.3em);
}

.repo-lend-asset-deposit-left{
  display: grid;
  justify-content: center;
  align-items: center;
}

.repo-lend-asset-deposit-right{
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: min(0.3em);
  justify-content: center;
  align-items: center;
}

.lend-balance-and-max{
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.lend-list,
.borrow-list{
  display: grid;
  gap: min(0.5em);
}

.repo-lend-list-title{
  display: grid;
  align-items: center;
  justify-content: center;
  color: var(--color-3);
  padding: min(1em);
  font-size: xx-large;
  font-weight: 800;
  z-index: 2;
}

.lend-list-title,
.repo-borrow-list-title{
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: var(--color-3);
  font-weight: 800;
  z-index: 2;
}

.repo-lend-asset-deposit-bottom-right{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: min(0.3em);
}

.repo-lend-body{
  display: grid;
  background-color: var(--color-1);
  width: 100vw;
  height: fit-content;
}

.protocol-logo{
  display: grid;
  justify-content: center;
  align-items: center;
}

.shrimp-icon-navbar{
  display: grid;
  object-fit: contain;
  height: 5em;
  width: 5em;
  justify-content: center;
  align-items: center;
}

.lend-container,
.borrow-container{
  display: block;
  align-items: center;
  justify-content: center;
  width: 100vw;
  z-index: 2;
}

.docs-description>div,
.docs-description>h1{
  border-radius: 2em;
  border-color: var(--color-2);
  border-width: 1px;
  border-style: solid;
  padding: min(0.3em);
  z-index: 5;
  box-shadow: inset 0 0 0.5em 0 var(--color-2),
    0 0 0.5em 0 var(--color-2);
}

.trade-entry-payment-entry-bottom-row-left,
.trade-entry-payment-entry-bottom-row-right{
  display: grid;
  width: 10vw;
}

.trade-page-top-row{
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: min(0.3em);
}

.graph{
  display: grid;
  max-width: 40%;;
}